name: CI - Azure Bicep IaC

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Azure CLI
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
           
      - name: Install bicep CLI
        run: |
          az bicep install
          az bicep version

      - name: Validate Bicep syntax
        run: |
          az bicep build -f main.bicep --outfile main.json

      - name: Upload ARM Template Artifact
        uses: actions/upload-artifact@v4
        with:
          name: arm-template
          path: main.json

      - name: Install standalone Bicep CLI for linting
        run: |
          curl -sL https://aka.ms/bicep/install | bash
          chmod +x bicep
          sudo mv ./bicep /usr/local/bin/bicep
          bicep --version

      - name: Fromat Bicep files
        run: |
          bicep format .

      - name: Run Bicep Linter
        run: |
          az bicep build --file main.bicep --stdout > /dev/null
          echo "Running Bicep linte..."
          bicep lint main.bicep

      - name: Upload ARM Template Artifact
        uses: actions/upload-artifact@v4
        with:
          name: arm-template
          path: main.json