name: CI - Azure Bicep IaC

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Azure CLI
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
           
      - name: Install bicep CLI
        run: |
          az bicep install
          az bicep version

      - name: Validate Bicep syntax
        run: |
          az bicep build -f main.bicep --outfile main.json

      - name: Upload ARM Template Artifact
        uses: actions/upload-artifact@v4
        with:
          name: arm-template
          path: main.json

      - name: Install standalone Bicep CLI for linting
        run: |
          LATEST_URL=$(curl -s https://api.github.com/repos/Azure/bicep/releases/latest \
            | grep "browser_download_url" \
            | grep "bicep-linux-x64\"" \
            | cut -d '"' -f 4)

          echo "Downloading: $LATEST_URL"
          wget "$LATEST_URL" -O bicep
          chmod +x bicep
          sudo mv bicep /usr/local/bin/bicep
          bicep --version



      - name: Fromat Bicep files
        run: |
          find . -name "*.bicep" -exec bicep format {} \;

      - name: Run Bicep Linter
        run: |
          az bicep build --file main.bicep --stdout > /dev/null
          echo "Running Bicep linter..."
          bicep lint main.bicep

      - name: Azure What-if (Dry Run)
        env:
          AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
        run: |
          if [ -z "$AZURE_CREDENTIALS" ] || [ "$AZURE_CREDENTIALS" = "{}" ]; then
            echo "AZURE_CREDENTIALS está vacío o no configurado. Saltando What-If..."
            exit 0
          fi

          # Asegurarnos de tener jq (por si la imagen no lo trae)
          if ! command -v jq >/dev/null 2>&1; then
            sudo apt-get update && sudo apt-get install -y jq
          fi

          CLIENT_ID=$(echo "$AZURE_CREDENTIALS" | jq -r '.clientId')
          CLIENT_SECRET=$(echo "$AZURE_CREDENTIALS" | jq -r '.clientSecret')
          TENANT_ID=$(echo "$AZURE_CREDENTIALS" | jq -r '.tenantId')
          SUBSCRIPTION_ID=$(echo "$AZURE_CREDENTIALS" | jq -r '.subscriptionId')
          RESOURCE_GROUP=$(echo "$AZURE_CREDENTIALS" | jq -r '.resourceGroup')

          echo "Running Azure What-If analysis for RG: $RESOURCE_GROUP"

          az login --service-principal \
            -u "$CLIENT_ID" \
            -p "$CLIENT_SECRET" \
            --tenant "$TENANT_ID"

          az account set --subscription "$SUBSCRIPTION_ID"

          az deployment group what-if \
            --resource-group "$RESOURCE_GROUP" \
            --template-file main.bicep



