name: CI - Azure Bicep IaC

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Azure CLI
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
           
      - name: Install bicep CLI
        run: |
          az bicep install
          az bicep version

      - name: Validate Bicep syntax
        run: |
          az bicep build -f main.bicep --outfile main.json

      - name: Upload ARM Template Artifact
        uses: actions/upload-artifact@v4
        with:
          name: arm-template
          path: main.json

      - name: Install standalone Bicep CLI for linting
        run: |
          LATEST_URL=$(curl -s https://api.github.com/repos/Azure/bicep/releases/latest \
            | grep "browser_download_url" \
            | grep "bicep-linux-x64\"" \
            | cut -d '"' -f 4)

          echo "Downloading: $LATEST_URL"
          wget "$LATEST_URL" -O bicep
          chmod +x bicep
          sudo mv bicep /usr/local/bin/bicep
          bicep --version



      - name: Fromat Bicep files
        run: |
          find . -name "*.bicep" -exec bicep format {} \;

      - name: Run Bicep Linter
        run: |
          az bicep build --file main.bicep --stdout > /dev/null
          echo "Running Bicep linte..."
          bicep lint main.bicep

      - name: Azure What-if (Dry Run)
        env:
          CREDS: ${{ secrets.AZURE_CREDENTIALS }}
        if: ${{ env.CREDS != '' }}
        run: |
          echo "Running Azure What-If analysis..."

          CLIENT_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).clientId }}
          CLIENT_SECRET: ${{ fromJson(secrets.AZURE_CREDENTIALS).clientSecret }}
          TENANT_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).tenantId }}
          SUBSCRIPTION_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).subscriptionId }}
          RESOURCE_GROUP: ${{ fromJson(secrets.AZURE_CREDENTIALS).resourceGroup }}


          az login --service-principal \
            -u "$CLIENT_ID" \
            -p "$CLIENT_SECRET" \
            --tenant "$TENANT_ID"

          az account set --subscription "$SUBSCRIPTION_ID"

          az deployment group what-if \
            --resource-group "$RESOURCE_GROUP" \
            --template-file main.bicep

