name: CI - Azure IaC (Multistage)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  validate:
    name: Validate Bicep
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Azure CLI
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

      - name: install Bicep CLI
        run: |
          az bicep install
          az bicep version

      - name: Build main.bicep (Syntax Validation)
        run: |
          az bicep build \
            --file main.bicep \
            --outfile main.json

      - name: Format Bicep files
        run: |
          az bicep format --file main.bicep
    
      - name: Run Bicep Linter
        run: |
          bicep lint main.bicep